name: Pre-commit

on:
  pull_request:
    branches:
      - "master"
  push:
    branches:
      - "*"

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup_python_env
      - name: Run pre-commit on all files
        run: uv run prek run --all-files
        shell: bash
